<app-nav></app-nav>
<app-sidebar-dashboard></app-sidebar-dashboard>
<app-nav-dashboard></app-nav-dashboard>

<div class="content-container">
  <div class="container">
    <h4>New excursion</h4>
    <h6>Complete the fields</h6>

    <div class="container__form">

      <form (ngSubmit)="onSubmit()" #excursionForm="ngForm">
        <div>
          <label for="name">
            <i class="fa fa-angle-right"></i>
            Name
          </label>
          <input type="text" [(ngModel)]="excursion.name" name="name" id="name" required #name="ngModel">
        </div>
        <div>
          <label for="description">
            <i class="fa fa-angle-right"></i>
            Description
          </label>
          <input type="text" [(ngModel)]="excursion.description" name="description" id="description" required
            #description="ngModel">
        </div>
        <div>
          <label for="price">
            <i class="fa fa-angle-right"></i>
            Price
          </label>
          <input type="number" [(ngModel)]="excursion.price" name="price" id="price" required #price="ngModel">
        </div>
        <div>
          <label for="place">
            <i class="fa fa-angle-right"></i>
            Place
          </label>
          <input type="text" [(ngModel)]="excursion.place" name="place" id="place" required #place="ngModel">
        </div>
        <div>
          <label for="city">
            <i class="fa fa-angle-right"></i>
            City
          </label>
          <input type="text" [(ngModel)]="excursion.city" name="city" id="city" required #city="ngModel">
        </div>

        <div class="container__form-btn">
          <input type="submit" value="Register">
        </div>
      </form>

    </div>

  </div>
</div>

<script src="https://kit.fontawesome.com/9a8541e3b5.js" crossorigin="anonymous"></script>