*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
  *** Colors *** 

  -primary: #f3f3f3
  -secundary: #404E67
  -extra: #fe8a7d
  -text-secundary: #f3f3f3;

*/

html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  background-color: #f3f3f3;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #dd796d;
}

span {
  color: #fe8a7d;
}

/* Utils */
.flex-item {
  display: flex;
  align-items: center;
}

.color-primary {
  background-color: #fe8a7d !important;
}

.btn-primary {
  color: red;
  margin-right: 1em;
}

.btn-secundary {
  color: #0881a3;
}

/* Main section  */
.sidebar-container {
  background-color: #404e67;
  color: #f3f3f3;
  height: 100%;
  width: 25em;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

/* Sidebar */
.sidebar-logo {
  font-size: 2.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7rem;
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.13);
}

.sidebar-logo ion-icon {
  transform: rotate(-40deg);
}

.sidebar-menu {
  width: 70%;
  padding-top: 3em;
  font-size: 1.5rem;
  color: #dddddd;
}

.sidebar-menu ion-icon {
  color: #f38181;
}

.sidebar-menu__title {
  color: #999;
  padding-left: 1em;
  margin-bottom: 1em;
}

.sidebar-menu__item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding-left: 1em;
  margin-bottom: 1.5em;
}

/* Navbar */
.navbar-container {
  background-color: #ffffff;
  height: 7em;
  margin-left: 25em;
  padding-right: 2em;
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.13);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-items: flex-end;
}

/* Main Content */
.content-container {
  min-height: 100vh;
  margin-left: 25em;
  padding: 5em;
}

/* Basic */
.container {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  padding: 4rem;
}

.container h4 {
  font-size: 2rem;
  color: #505458;
  margin-bottom: 0.7em;
}

.container h6 {
  font-size: 1.3rem;
  color: #919aa3;
  font-weight: 400;
  margin-bottom: 3em;
}

/* Form */
.container__form > form > div {
  font-size: 1.3rem;
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container__form > form > div > label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__form > form > div > label > ion-icon {
  color: #f38181;
}

.container__form > form > div > input {
  width: 80%;
  height: 3em;
}

.container__form-btn {
  padding-left: 50%;
}

.container__form-btn input {
  width: 20% !important;
  cursor: pointer;
  color: #222;
  font-weight: 700;
  border: none;
  border: 1.7px solid #222;
  background-color: #f38181;
  border-radius: 5px;
}

/* Dashboard */
.content-container__intro {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2em;
}

.content-container__resume {
  display: flex;
  flex-wrap: wrap;
}

.content-container__resume-item {
  background-color: #f3f9fb;
  border-radius: 5px;
  width: 35em;
  min-height: 20em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 1em;
}

.content-container__resume-item-label {
  margin-top: 3em;
  margin-left: 3em;
  margin-bottom: 1em;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 300;
}

.content-container__resume-item-content {
  margin-left: 7rem;
  font-size: 4rem;
  font-weight: 500;
}

.content-container__resume-item-cta {
  color: #fffdfb;
  background-color: #0881a3;
  width: 100%;
  height: 4em;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.secundary {
  background-color: #f38181;
}

.alternative {
  background-color: #679b9b;
}

.content-container__resume-item-cta a {
  padding-top: 0.7em;
  font-size: 1.4rem;
}

.more-info {
  margin: 2em;
  font-size: 2.2rem;
  text-align: center;
}

.more-info a {
  color: #fe8a7d;
  font-weight: 700;
}

/* Excursions */
.excursions-container {
  display: flex;
  flex-wrap: wrap;
}

.excursions-container__item {
  width: 20%;
  margin: 2em;
  padding: 2em;
  text-align: center;
  font-size: 1.3rem;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.excursions-container__item h3 {
  margin-bottom: 1em;
}

.excursions-container__item a {
  display: block;
  margin-top: 1em;
  border-radius: 5px;
  padding: 1em;
  background-color: #f38181;
}

.excursions-container__item a:hover {
  color: #fff;
}

/* Users */
table,
th,
td {
  padding: 1em;
  border-bottom: 1px solid black;
}

th {
  background-color: #404e67;
  color: #f3f3f3;
}

.table-container {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  font-size: 1.3rem;
}

.table-container td {
  height: 5rem;
}

.table-container td ion-icon {
  font-size: 2rem;
}

/* Reports */
.reports-container__item {
  color: #f3f3f3;
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-radius: 5px;
  background-color: #404e67;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

.reports-container__item-content {
  font-size: 1.5rem;
}

.reports-container__item-content li {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-bottom: 1em;
}

.reports-container__item-content span {
  color: inherit;
}
