<div class="sidebar-container">
  <div class="sidebar-logo">
    <i class="fa fa-plane"></i>
    &nbsp;
    <span>Exo</span>Tourier
  </div>

  <div class="sidebar-menu">
    <div class="sidebar-menu__item">
      <i class="fa fa-home"></i>
      <a routerLink="/dashboard" class="a-link nav-container__nav-bar__list__item-link">Dashboard</a>
    </div>
    <div class="sidebar-menu__title">
      Excursions
    </div>
    <div class="sidebar-menu__item">
      <i class="fa fa-plus-circle"></i>
      <a routerLink="/dashboard/excursion" class="a-link nav-container__nav-bar__list__item-link">New Excursion</a>
    </div>
    <div class="sidebar-menu__item">
      <i class="fa fa-list-ul"></i>
      <a routerLink="/dashboard/excursions" class="a-link nav-container__nav-bar__list__item-link">View Excursions</a>
    </div>
    <div class="sidebar-menu__title">
      Users
    </div>
    <div class="sidebar-menu__item">
      <i class="fa fa-users"></i>
      <a routerLink="/dashboard/users" class="a-link nav-container__nav-bar__list__item-link">View Users</a>
    </div>
    <div class="sidebar-menu__title">
      Charts
    </div>
    <div class="sidebar-menu__item">
      <i class="fa fa-chart-line"></i>
      <a routerLink="/dashboard/reports" class="a-link nav-container__nav-bar__list__item-link">Reports</a>
    </div>
  </div>
</div>