<div class="sidebar-container">
    <div class="sidebar-logo">
      <i class="fa fa-plane"></i>
      &nbsp;
      <span>Exo</span>Tourier
    </div>

    <div class="sidebar-menu">
      <div class="sidebar-menu__item">
        <i class="fa fa-home"></i>
        <a href="index.html">Dashboard</a>
      </div>
      <div class="sidebar-menu__title">
        Excursions
      </div>
      <div class="sidebar-menu__item">
        <i class="fa fa-plus-circle"></i>
        <a href="new-excursion.html">New Excursion</a>
      </div>
      <div class="sidebar-menu__item">
        <i class="fa fa-list-ul"></i>
        <a href="view-excursions.html">View Excursions</a>
      </div>
      <div class="sidebar-menu__title">
        Users
      </div>
      <div class="sidebar-menu__item">
        <i class="fa fa-users"></i>
        <a href="view-users.html">View Users</a>
      </div>
      <div class="sidebar-menu__title">
        Charts
      </div>
      <div class="sidebar-menu__item">
        <i class="fa fa-chart-line"></i>
        <a href="reports.html">Reports</a>
      </div>
    </div>
  </div>