
<div class="grid-container">
    <div class="grid-row">
        
        <div class="grid-column grid-column-start-to-middle">
            <img src="../../../assets/img/img's/elephant.jpg" alt="" class="grid-column__img">
        </div>
        <div class="grid-column grid-column-one.tile">
            <img src="../../../assets/img/img's/chichen.jpg" alt="" class="grid-column__img">
        </div>
    </div>
    <div class="grid-row">
        <div class="grid-column grid-column-one-tile">
            <img src="../../../assets/img/img's/wreckage.jpg" alt="" class="grid-column__img">
        </div>
        <div class="grid-column grid-column-middle-to-end">
            <img src="../../../assets/img/img's/india.jpg" alt="" class="grid-column__img">
        </div>
    </div>
    <div class="grid-row">
        <div class="grid-column grid-column-one-tile"><img src="../../../assets/img/img's/antarctica.jpg" alt="" class="grid-column__img"> </div>
        <div class="grid-column grid-column-one-tile"><img src="../../../assets/img/img's/angkor.jpg" alt="" class="grid-column__img"> </div>
        <div class="grid-column grid-column-one-tile"><img src="../../../assets/img/img's/petra.jpg" alt="" class="grid-column__img"> </div>
    </div>
</div>