
<div class="grid-container">
    <div class="grid-row">
        
        <div class="grid-column grid-column-start-to-middle">
            <img src="../../../assets/img/img's/elephant.jpg" alt="" class="grid-column__img">
            <div class="grid-column__content">
                <div class="grid-column__content__blur"></div>
                <h3 class="grid-column__content__title">Africa in 5 Weeks</h3>
                
            </div>
        </div>
        <div class="grid-column grid-column-one.tile">
            <img src="../../../assets/img/img's/chichen.jpg" alt="" class="grid-column__img">
            <div class="grid-column__content">
                <div class="grid-column__content__blur"></div>
                <h3 class="grid-column__content__title">Mayan's Secrets</h3>
                
            </div>
        </div>
    </div>
    <div class="grid-row">
        <div class="grid-column grid-column-one-tile">
            <img src="../../../assets/img/img's/wreckage.jpg" alt="" class="grid-column__img">
            <div class="grid-column__content">
                <div class="grid-column__content__blur"></div>
                <h3 class="grid-column__content__title">Africa in 5 Weeks</h3>
            </div>
        </div>
        <div class="grid-column grid-column-middle-to-end">
            <img src="../../../assets/img/img's/india.jpg" alt="" class="grid-column__img">
            <div class="grid-column__content">
                <div class="grid-column__content__blur"></div>
                <h3 class="grid-column__content__title">Africa in 5 Weeks</h3>
            </div>
        </div>
    </div>
    <div class="grid-row">
        <div class="grid-column grid-column-one-tile">
            <img src="../../../assets/img/img's/antarctica.jpg" alt="" class="grid-column__img"> 
            <div class="grid-column__content">
                <div class="grid-column__content__blur"></div>
                <h3 class="grid-column__content__title">Africa in 5 Weeks</h3>
            </div>
        </div>
        <div class="grid-column grid-column-one-tile">
            <img src="../../../assets/img/img's/angkor.jpg" alt="" class="grid-column__img">
            <div class="grid-column__content">
                <div class="grid-column__content__blur"></div>
                <h3 class="grid-column__content__title">Africa in 5 Weeks</h3>
            </div>
         </div>
        <div class="grid-column grid-column-one-tile">
            <img src="../../../assets/img/img's/petra.jpg" alt="" class="grid-column__img"> 
            <div class="grid-column__content">
                <div class="grid-column__content__blur"></div>
                <h3 class="grid-column__content__title">Africa in 5 Weeks</h3>
            </div>
        </div>
    </div>
</div>