<div class="outstanding-container">
    <img src="../../../assets/img/imgs/brown-camel.jpg" class="outstanding-container__img" alt="">
    <div class="outstanding-content">
        <!-- <div class="outstanding-content__blur-bg">

        </div> -->
        <div class="outstanding-content__text">
            <p>Trending</p>
            <p>Trip to Faraon's coffin</p>
        </div>
        <div class="outstanding-content__btn">
            <button class="btn btn-action btn-medium">details</button> 
        </div>
        
    </div>
</div>
