
<div class="nav-container">
    <div class="nav-container__nav-brand">
        <h2>ExoTourier</h2>
    </div>

    
    <div class="nav-container__nav-bar">
        <div class="nav-container__nav-bar-bg"></div>
        <ul class="nav-container__nav-bar__list">
            <li class="nav-container__nav-bar__list__item">HOME</li>
            <li class="nav-container__nav-bar__list__item">SHOP</li>
            <li class="nav-container__nav-bar__list__item">CONTACT</li>
            <li class="nav-container__nav-bar__list__item">LOGIN</li>
        </ul>
    </div>
</div>