@import '../abstracts/colors';
@import '../abstracts/typography';
@import '../abstracts/mixins';
@import '../abstracts/utils';

.btn{
    border: none;
    color: #ffffff;
    outline: none;
    border-radius: $border-radius-30;
    cursor: pointer;
}

.btn-action{
    
    background-color: $color-earthy-red;
    font-size: $font-size-btn-action-large;
    font-weight: 300;
    font-family: $main-font;
    text-transform: uppercase;
    @include box-shadow;
    margin: 0 $margin-md;
    transition: all .2s ease;
}

.btn-action:hover{
    transition: all .2s ease;
    background-color: $color-earthy-red-darken;
}

.btn-small{
    width: 5rem;
    height: 2rem;
    font-size: $font-size-btn-action-small;
}

.btn-medium{
    width: 12rem;
    height: 2.5rem;
    font-size: $font-size-btn-action-medium;
}

.btn-large{
    width: 15rem;
    height: 3rem;
}