@import '../abstracts/typography';
@import '../abstracts/colors';
@import '../abstracts/utils';
.container-filter{
    position: relative;
    width: $app-width;
    height: 8vh;
    background-color: $color-earthy-red;
    top: -4vh;
    left: -0.5vw; 
}