@import '../abstracts/typography';
@import '../abstracts/colors';
@import '../abstracts/utils';

.outstanding-container{
    position: relative;
    width: 99.8vw;
    height: auto;
    top: -1vh;
    left: -0.5vw;
    font-family: $main-font;   
    &__img{
        width: 100%;
        z-index: 1;
    } 
}
.outstanding-content::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(2px);
    border-radius: $border-radius-main;
    z-index: -1;
}

.outstanding-content{
    position: absolute;
    width: 40rem;
    height: 5rem;
    top: 80%;
    border-radius: $border-radius-main;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
    
    /*
    &__blur-bg{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: transparent;
        
        filter: blur(5px);
        z-index: -1;
        
        margin-top: -150px;
    }*/
}