<div class="popup-container" *ngIf="visible">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" #form>
    <div class="inputs">
      <input type="text" formControlName="email" placeholder="Email..." class="input input-md" />
      <input type="password" formControlName="password" placeholder="Password..." class="input input-md" />
    </div>
    <div class="buttons">
      <button type="submit" class="btn btn-action btn-medium" >login</button>
      <span>or</span>
      <button type="button" routerLinkActive="active" routerLink="/signIn" class="btn btn-action btn-medium" (click)="onSignIn()">sign in</button>
    </div>
  </form>
</div>
