<app-nav></app-nav>
<app-sidebar-dashboard></app-sidebar-dashboard>
<app-nav-dashboard></app-nav-dashboard>

<div class="content-container">
  <div class="content-container__intro">
    <h2>
      ¡ Welcome to <span>ExoTourier</span> !
    </h2>
  </div>

  <div class="content-container__resume">
    <div class="content-container__resume-item">
      <div class="content-container__resume-item-label">
        <div>
          Total Excursions:
        </div>
      </div>
      <div class="content-container__resume-item-content">
        <div>
          1000
        </div>
      </div>
      <div class="content-container__resume-item-cta">
        <a href="">New excursion</a>
      </div>
    </div>

    <div class="content-container__resume-item">
      <div class="content-container__resume-item-label">
        <div>
          Most Popular Excursion:
        </div>
      </div>
      <div class="content-container__resume-item-content">
        <div>
          ...........
        </div>
      </div>
      <div class="content-container__resume-item-cta secundary">
        <a href="">View all excursions</a>
      </div>
    </div>

    <div class="content-container__resume-item">
      <div class="content-container__resume-item-label">
        <div>
          Total Users:
        </div>
      </div>
      <div class="content-container__resume-item-content">
        <div>
          1000
        </div>
      </div>
      <div class="content-container__resume-item-cta alternative">
        <a href="">View all users</a>
      </div>
    </div>

  </div>

  <p class="more-info">More information on <a href="reports.html">Report</a> section. </p>
</div>


<script src="https://kit.fontawesome.com/9a8541e3b5.js" crossorigin="anonymous"></script>