<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ExoTourier - Dashboard</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
</head>

<body>

  <main>

    <div class="sidebar-container">
      <div class="sidebar-logo">
        <i class="fa fa-plane"></i>
        &nbsp;
        <span>Exo</span>Tourier
      </div>

      <div class="sidebar-menu">
        <div class="sidebar-menu__item">
          <i class="fa fa-home"></i>
          <a href="index.html">Dashboard</a>
        </div>
        <div class="sidebar-menu__title">
          Excursions
        </div>
        <div class="sidebar-menu__item">
          <i class="fa fa-plus-circle"></i>
          <a href="new-excursion.html">New Excursion</a>
        </div>
        <div class="sidebar-menu__item">
          <i class="fa fa-list-ul"></i>
          <a href="view-excursions.html">View Excursions</a>
        </div>
        <div class="sidebar-menu__title">
          Users
        </div>
        <div class="sidebar-menu__item">
          <i class="fa fa-users"></i>
          <a href="view-users.html">View Users</a>
        </div>
        <div class="sidebar-menu__title">
          Charts
        </div>
        <div class="sidebar-menu__item">
          <i class="fa fa-chart-line"></i>
          <a href="reports.html">Reports</a>
        </div>
      </div>
    </div>

    <div class="navbar-container">
      ¡ Welcome User user !
    </div>

    <div class="content-container">
      <div class="content-container__intro">
        <h2>
          ¡ Welcome to <span>ExoTourier</span> !
        </h2>
      </div>

      <div class="content-container__resume">
        <div class="content-container__resume-item">
          <div class="content-container__resume-item-label">
            <div>
              Total Excursions:
            </div>
          </div>
          <div class="content-container__resume-item-content">
            <div>
              1000
            </div>
          </div>
          <div class="content-container__resume-item-cta">
            <a href="">New excursion</a>
          </div>
        </div>

        <div class="content-container__resume-item">
          <div class="content-container__resume-item-label">
            <div>
              Most Popular Excursion:
            </div>
          </div>
          <div class="content-container__resume-item-content">
            <div>
              ...........
            </div>
          </div>
          <div class="content-container__resume-item-cta secundary">
            <a href="">View all excursions</a>
          </div>
        </div>

        <div class="content-container__resume-item">
          <div class="content-container__resume-item-label">
            <div>
              Total Users:
            </div>
          </div>
          <div class="content-container__resume-item-content">
            <div>
              1000
            </div>
          </div>
          <div class="content-container__resume-item-cta alternative">
            <a href="">View all users</a>
          </div>
        </div>

      </div>

      <p class="more-info">More information on <a href="reports.html">Report</a> section. </p>
    </div>

  </main>
  <script src="https://kit.fontawesome.com/9a8541e3b5.js" crossorigin="anonymous"></script>
</body>

</html>