/* 
  *** Colors *** 

  -primary: #f3f3f3
  -secundary: #404E67
  -extra: #fe8a7d
  -text-secundary: #f3f3f3;

*/

html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  background-color: #f3f3f3;
}
