<app-nav></app-nav>

<div class="buy-container">
    <div class="buy-container__left-panel">
        <img [src]='"../../../assets/img/imgs/" + excursion.imagePathSecondary' alt="" class="buy-container__left-panel__img">
    </div>
    <div class="buy-container__right-panel">
        <h2 class="buy-container__right-panel__title">{{ excursion.name }}</h2>
        <p class="buy-container__right-panel__desc">{{ excursion.description }}</p>
        <div class="buy-container__right-panel__info-content">
            <div class="buy-container__right-panel__info-content__map">
                <img src="../../../assets/img/imgs/africa-map.png" alt="">
                <p>{{ excursion.place }}</p>
            </div>
            <div class="buy-container__right-panel__info-content__text">
                <p>7 days  and 7 nights 
                    Great Pyramid of Giza, Valley of the Kings, Luxor Temple, Pyramid of Zoser,
                    An entire day at the dessert, Travel in camels, egyptian boats, chariots and more</p>
            </div>
        </div>
        <div class="buy-container__right-panel__buy-content">
            <p>Price per person</p>
            <div class="buy-container__right-panel__buy-content__price-btn">
                <h4>usd ${{excursion.price}}</h4>
                <button class="btn btn-action btn-large">buy</button>
            </div>
        </div>
    </div>
</div>