<app-nav></app-nav>
<app-sidebar-dashboard></app-sidebar-dashboard>
<app-nav-dashboard></app-nav-dashboard>

<div class="content-container">
  <div class="container">
    <h4>Reports</h4>

    <div class="reports-container">

      <div class="reports-container__item">

        <div class="reports-container__item-title">
          Excursions
        </div>
        <div class="reports-container__item-content">
          <ul>
            <li>
              <span>- Total excursions&nbsp; </span>
              <i class="fa fa-arrow-right"></i>
              <span>&nbsp; {{ countExcursions }} </span>
            </li>
            <li>
              <span>- Total sales&nbsp; </span>
              <i class="fa fa-arrow-right"></i>
              <span>&nbsp; {{ countPurchases }} </span>
            </li>
            <li>
              <span>- Total amount&nbsp; </span>
              <i class="fa fa-arrow-right"></i>
              <span>&nbsp; ${{ totalAmount }} </span>
            </li>
            <li>
              <span>- Best selling excursion&nbsp; </span>
              <i class="fa fa-arrow-right"></i>
              <span>&nbsp; {{ mostPurchased.name }} </span>
            </li>
          </ul>
        </div>

      </div>

      <div class="reports-container__item color-primary">

        <div class="reports-container__item-title">
          Users
        </div>
        <div class="reports-container__item-content">
          <ul>
            <li>
              <span>- Total users&nbsp; </span>
              <i class="fa fa-arrow-right"></i>
              <span>&nbsp; {{ countUsers }} </span>
            </li>
          </ul>
        </div>

      </div>

    </div>

  </div>
</div>

<script src="https://kit.fontawesome.com/9a8541e3b5.js" crossorigin="anonymous"></script>