
$color-main-grey : #EFEFEF;
$color-earthy-red: #6B2222;
$color-earthy-red-opac: rgba(107, 34, 34, 0.11);
$color-earthy-red-opac-2: rgba(107, 34, 34, 0.671);
$color-earthy-red-opac-3: rgba(201, 21, 21, 0.267);