
<div class="header-container">
    <div class="hero-img">
        <img class="hero-img__img" src="../../../assets/img/img's/woman-wearing-blue-dress.png" alt="">
    </div>
    <div class="right-content">
        <div class="right-content__descrip">
            <h3>The last thing the world needs is another touristic agency.</h3>
                <h3>That's why we offer much more than that. </h3>
                <h3>We sell emotions not excursions </h3>
        </div>
        <div class="right-content__title">
            <h2 class="main-title">Impossible tour agency</h2>
        </div>
        <div class="right-content__awards">
            <div class="right-content__awards-item">
                <h4 class="right-content__awards-item__title">Bussiness of the Year</h4>
                <img class="right-content__awards-item__svg" src="../../../assets/img/svg/award1.svg" alt="">
                <h5 class="right-content__awards-item__from">Forbes</h5>
            </div>
            <div class="right-content__awards-item">
                <h4 class="right-content__awards-item__title">Top Tour Agency 2019</h4>
                <img class="right-content__awards-item__svg" src="../../../assets/img/svg/award2.svg" alt="">
                <h5 class="right-content__awards-item__from">TourHub</h5>
            </div>
        </div>
        <div class="right-content__discover">
            <img class="right-content__discover__svg" src="../../../assets/img/svg/instagram.svg" alt="">
            <img class="right-content__discover__svg" src="../../../assets/img/svg/instagram.svg" alt="">
            <button class="btn btn-action">discover</button> 
            <img class="right-content__discover__svg" src="../../../assets/img/svg/instagram.svg" alt="">
            <img class="right-content__discover__svg" src="../../../assets/img/svg/instagram.svg" alt="">
        </div>
    </div>
</div>

<div class="parallelogram-path">

</div>
