@import '../abstracts/typography';
@import '../abstracts/colors';
@import '../abstracts/utils';

.nav-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 40rem;
  height: 3rem;
  display: flex;
  float: right;
  z-index: 50;
  margin-right:$margin-main-sides;
  margin-top: $margin-md;
  &__nav-brand {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    & h2 {
      font-family: $main-font;
      font-style: italic;
      font-size: $font-size-brand;
      font-weight: 300;
      color: $color-earthy-red;
      margin-right: 2rem;
    }
  }

  &__nav-bar {
    width: 75%;
    height: auto;
  
    &-blurbar{
        position: absolute;
        width: 75%;
        height: 100%;
        //background-color: $color-main-grey;
        background-color: #ffffffcb;
        filter: blur(2px);
        border-radius: $border-radius-30;
        z-index: 0;
    }

    &__list {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      margin-left: -10%;
      list-style: none;
      font-family: $main-font;
      z-index: 10;
      &__item {
        text-transform: uppercase;
        &-link{
          font-size: $font-size-links;  
          margin-left: 0;
        }
      }
    }
  }
}
