@import "../abstracts/typography";
@import "../abstracts/colors";
@import "../abstracts/utils";
@import "../abstracts/mixins";

.container-second-landing{
    position: relative;
    max-width: $app-width;
    height: 100vh;
    top: -2vh;
    left: -0.5vw;
    font-family: $main-font;
    display: flex;
    flex-direction: row;
    background-color: $color-earthy-red-opac;
    justify-content: space-between;
    &__right{
        margin-right: -0.8rem;
        & img{
            height: 100vh;
            
        }
    }
    &__left{
        &__descrip{
            font-size: $font-size-sm-min - 0.2rem;
            letter-spacing: 0.15rem;
            // background-color: rgb(135, 135, 175);
            height: 20%;
            & h3{
                font-weight: 300;
            }
        }
    }
}