


    <div class="navbar-container">
      ¡ Welcome User user !
    </div>

    <div class="content-container">
      <div class="container">
        <h4>New excursion</h4>
        <h6>Complete the fields</h6>

        <div class="container__form">

          <form action="" method="post">
            <div>
              <label for="name">
                <i class="fa fa-angle-right"></i>
                Name
              </label>
              <input type="text" name="name" id="name">
            </div>
            <div>
              <label for="price">
                <i class="fa fa-angle-right"></i>
                Price
              </label>
              <input type="number" name="price" id="price">
            </div>
            <div>
              <label for="place">
                <i class="fa fa-angle-right"></i>
                Place
              </label>
              <input type="text" name="place" id="place">
            </div>
            <div>
              <label for="city">
                <i class="fa fa-angle-right"></i>
                City
              </label>
              <input type="text" name="city" id="city">
            </div>

            <div class="container__form-btn">
              <input type="submit" value="Register">
            </div>
          </form>

        </div>

      </div>
    </div>
  <script src="https://kit.fontawesome.com/9a8541e3b5.js" crossorigin="anonymous"></script>
