<div class="container-second-landing">
    <div class="container-second-landing__left">
        <h2 class="main-title">Your world our trips</h2>
        <div class="container-second-landing__left__descrip">
            <h3>We offer adventures all around the globe.</h3>
            <h3>In our excursions we have everything prepared for you.</h3>
        </div>
    </div>
    <div class="container-second-landing__right">
        <img [src]="'../../../assets/img/imgs/egyptian-walking.png'" alt="">
    </div>
</div>

