<app-nav></app-nav>
<app-sidebar-dashboard></app-sidebar-dashboard>
<app-nav-dashboard></app-nav-dashboard>

<div class="content-container">
  <div class="container">
    <h4>Excursions</h4>

    <div class="excursions-container">
      <div class="excursions-container__item">
        <h3>Excursion #1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus amet deleniti consequatur, quas ullam
          modi non error quae aliquid nobis.</p>
        <a href="">More Details</a>
      </div>
      <div class="excursions-container__item">
        <h3>Excursion #1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus amet deleniti consequatur, quas ullam
          modi non error quae aliquid nobis.</p>
        <a href="">More Details</a>
      </div>
      <div class="excursions-container__item">
        <h3>Excursion #1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus amet deleniti consequatur, quas ullam
          modi non error quae aliquid nobis.</p>
        <a href="">More Details</a>
      </div>
      <div class="excursions-container__item">
        <h3>Excursion #1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus amet deleniti consequatur, quas ullam
          modi non error quae aliquid nobis.</p>
        <a href="">More Details</a>
      </div>
      <div class="excursions-container__item">
        <h3>Excursion #1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus amet deleniti consequatur, quas ullam
          modi non error quae aliquid nobis.</p>
        <a href="">More Details</a>
      </div>
    </div>

  </div>
</div>

<script src="https://kit.fontawesome.com/9a8541e3b5.js" crossorigin="anonymous"></script>